<form method="post" action="/dashboard/upload" enctype="multipart/form-data">
  <label>Pet Name</label>
  <input type="text" name="petName" />

  <div>
    <h2>Gender</h2>
    <label>Female</label>
    <input type="checkbox" value="true" name="petGender" />
    <label>Male</label>
    <input type="checkbox" />
  </div>
  <div>
    <label>Birthday</label>
    <input type="date" name="petBirthday" />
  </div>
  <div>
    <label>Your Pets Interests</label>
    <input type="text" name="petLikes" />
  </div>

  <h1>Upload Image</h1>
  <input type="file" name="petImage" />
  <input type="submit" />
</form>