 <div class="pet-uploader">
        <form method="post" action="/dashboard/upload" enctype="multipart/form-data">
            <h1>Upload Your Pet!</h1>
            <label>Pet Name</label>
            <input type="text" name="petName" />

            <div class="gender">
                <h2>Gender</h2>
                <label>Female</label>
                <input type="checkbox" value="true" name="petGender" />
                <label>Male</label>
                <input type="checkbox" />
            </div>
            <div>
                <label>Birthday</label>
                <input type="date" name="petBirthday" />
            </div>
            <div class="flex-column">
                <label>Your Pets Interests</label>
                <input type="text" name="petLikes" />
            </div>
            <div class="flex-column">
                <label>Your Pets About Me</label>
                <input type="text" name="petAboutMe" />
            </div>
            <div>
                <h2>Upload Image</h2>
                <input type="file" name="petImage" />
                <input type="submit" />
            </div>
        </form>
    </div>