<div class="container">
  <section>
    {{! highest ranked puppy }}
  </section>
  <section>
    {{!  }}
  </section>
  <a href="/logout" id="logout">Logout</a>
  <a href="/petUploader">Uploader</a>
</div>

{{! this gets slotted into page when on homepage in body of main.handlebars }}