<div id="download-button" class="container">
  <section>
    <a
      href="/welcome"
      id="logout"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Logout</a>
    <a
      href="/petGallery"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Pet Gallery</a>
    <a
      href="/petuploader"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Upload a New Pet</a>
    <a
      href="/ownerpets/{{ownID}}"
      class="btn-large waves-effect waves-light teal lighten-1"
    >View Your Pets</a>
  </section>
  <section>

  </section>

</div>

<script src="/javascript/logout.js"></script>