<div class="homepage">
  <section id="download-button" class="container">
    <a
      href="/petGallery"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Pet Gallery</a>
    <a
      href="/petuploader"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Upload a New Pet</a>
    <a
      href="/ownerpets"
      class="btn-large waves-effect waves-light teal lighten-1"
    >View Your Pets</a>
    <a
      href="/welcome"
      id="logout"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Logout</a>
  </section>

  <br />

  <section>
    <article class="testimonial">
      <img class="testimonial-img" src="/public/Images/newton.jpg" />
      <p> this is where testimonial 1 will go</p>
    </article>
    <article class="testimonial">
      <img class="testimonial-img" src="/public/Images/newton.jpg" />
      <p> this is where testimonial 2 will go</p>
    </article>
    <article class="testimonial">
      <img class="testimonial-img" src="/public/Images/newton.jpg" />
      <p> this is where testimonial 3 will go</p>
    </article>
  </section>

</div>

<script src="/javascript/logout.js"></script>