<div class="homepage">
  <section id="download-button" class="container">
    <a
      href="/petGallery"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Pet Gallery</a>
    <a
      href="/petuploader"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Upload a New Pet</a>
    <a
      href="/ownerpets/{{ownID}}"
      class="btn-large waves-effect waves-light teal lighten-1"
    >View Your Pets</a>
    <a
      href="/welcome"
      id="logout"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Logout</a>
  </section>

  <br />

<section class="top-testimonial">
  <h2> Love is paw-sible ..
   <br>.. when you use Puppy Love!</h2>
  </section>



  <section>
    <article class="testimonial">
      <img class="testimonial-img" src="Images\dogwed.jpg" />
      <p> "Thanks to Puppy Love, I found my soulmate Phyllis!" -Bob from Scranton, PA  </p>
    </article>
    <article class="testimonial">
      <img class="testimonial-img" src="Images/twodogs.jpg" />
      <p> "I found the love of my life! Thanks Puppy Love for being a place for all dogs!"
        -Stephen from Green Bay, WI </p>
    </article>
    <article class="testimonial">
      <img class="testimonial-img" src="Images/cutedogs.jpg" />
      <p>"Wilbur and I just celebrated our 50th wedding anniversary! Thanks Puppy Love!"
        - Barb from Denver, CO   </p>
    </article>
   
   <article class="testimonial">
      <img class="testimonial-img" src="Images/doghats.jpg" />
      <p>"I found my last 3 husbands on Puppy Love!"
        - Olga from Atlanta, GA  </p>
    </article>




  </section>

</div>

<script src="/javascript/logout.js"></script>
