<div class="container">
  <section>
    {{! highest ranked puppy }}
  </section>
  <section>
    {{!  }}
  </section>
</div>


{{!-- this gets slotted into page when on homepage in body of main.handlebars --}}