<div class="container">
  <section>
    <a
      href="/welcome"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Logout</a>
    <a
      href="/petGallery"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Pet Gallery</a>
    <a
      href="/petUpdate"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Update Your Pet's Info</a>
    <a
      href="/petuploader"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Upload a New Pet</a>
  </section>
  <section>
    {{!  }}
  </section>

</div>

{{! this gets slotted into page when on homepage in body of main.handlebars }}