<div class="flex-evenly">
{{#each petCards as |pet|}}
  <a href="singlepet/{{id}}" class="card-parent">
      <h1 class="pet-name">{{petName}}</h1>
      <img src="Images/{{image}}"/>
      <h3>{{petLikes}}</h3>
  </a>
{{/each}}
</div>