<div class="card-parent">
  {{#each petCards as |pet|}}
  <card class="pet-card">
      <div class="pet-name">
        <h3>{{petName}}</h3>
      </div>
      <img src="/public/Images/aaNewton.jpg"/>

  </card>
  {{/each}}
</div>