<div class="pet-uploader">
  <form
    method="post"
    action="/petUploader/upload"
    enctype="multipart/form-data"
  >
    <h1>Upload Your Pet!</h1>
    <label>Pet Name</label>
    <input type="text" name="petName" />

    <div class="gender">
      <h3>Gender</h3>
      <div>
        <input type="radio" name="petGender" value="Female" />
        <label>Female</label>
        <input type="radio" name="petGender" value="Male" />
        <label>Male</label>
      </div>
    </div>
    <div>
      <label>Birthday</label>
      <input type="date" name="petBirthday" />
    </div>
    <div class="flex-column">
      <label>Your Dogs Interests</label>
                <div class="checkbox-column">
                    <label><input class="checkbox" type="checkbox" name="petLikesSwimming" value="true">Swimming</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesWalks" value="true">Walks</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesBones" value="true">Bones</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesLicking" value="true">Licking</label>
                </div>
                <div class="checkbox-column">
                    <label><input class="checkbox" type="checkbox" name="petLikesBarking" value="true">Barking</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesRunning" value="true">Running</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesJumping" value="true">Jumping</label>
                    <label><input class="checkbox" type="checkbox" name="petLikesTreats" value="true">Treats</label>
                </div>
    </div>
    <div class="flex-column">
      <label>Description of your Dog</label>
      <input type="text" name="petAboutMe" />
    </div>
    <div>
      <h2>Upload Image</h2>
      <input type="file" name="petImage" accept="image/*"/>
      <input id="submit" type="submit" />
    </div>
  </form>
</div>
<script src="/javascript/petuploader.js"></script>