<div class="welcome">
  <header>
    <h1 class="header center teal-text text-lighten-2">Welcome to Puppy Love!</h1>
    <br />
    <h5 class="header col s12 light">Let's fetch a playmate for your pup!</h5>
  </header>
  <br />
  <div class="row center">
    <a
      href="/signup"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Sign Up</a>
    <a
      href="/login"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Login</a>
  </div>
</div>