<div class="welcome">
  <header>
    <h2 class="header center">Welcome to  Puppy Love!</h2>
    
    <h4 class="header">Let's fetch a playmate for your pup!</h4>
  </header>
  <br />
  <div class="row center">
    <a
      href="/signup"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Sign Up</a>
    <a
      href="/login"
      id="download-button"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Login</a>
  </div>
</div>