/*.pet-uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 60%;
  padding: 10px;
}

h1 {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: black;
  color: rgb(243, 237, 237);
}

h2 {
  margin-top: 10px;
}

.gender {
  margin-top: 15px;
  margin-bottom: 15px;
}


/* Utility Classes */

body {
  background-image: url(../Images/rainbow-pawprints.jpg.png);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.card-parent {
  width: 22vw;
  margin: 0;
  margin-top: 10px;
  border: 2px solid black;
}
.card-parent img {
  width: 22vw;
  margin: 0;
}

.pet-name {
  margin: 0;
}

.single-pet-parent {
  width: 42vw;
  margin: auto;
}

/* Pet Uploader*/
.pet-uploader {
  
  text-align: center;
}

.pet-uploader label {
 color: blueviolet;
}

/* welcome page css */
.welcome {
  height: 100%;
  background-image: url(../Images/rainbowPuppyLove.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: scroll;
}

/*signup css*/
.signup-form {
  color: black;
  background-color: rgba(252, 225, 56, 0.8);
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
